
@using Sinif_taski.Models
@model List<Product>
@{
    int count = 0;
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Products</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Products Table</h6>
        </div>
        <a asp-controller="product" a asp-action="Create" class="btn btn-success">Add product </a>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Actions</th>

                        </tr>
                    </thead>


                    <tbody>
                        <!-- Product 1 -->
                        @foreach (Product product in Model)
                        {
                            count++;
                            <tr>

                                <td>@count</td>
                                <td>
                                    <img src="~/assets/image/products/@product.Image" alt="" width="120"
                                         height="80" />
                                </td>
                                <td class="fw-semibold text-dark">@product.Marka</td>

                                <td class="text-center">
                                    <a asp-area="Admin" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary btn-circle btn-lg">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="update" asp-route-id="@product.Id" class="btn btn-warning btn-circle btn-lg">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="delete" asp-route-id="@product.Id" class="btn btn-danger btn-circle btn-lg">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>